<% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
      <p>*<%= error %>*</p>
    <% end %>
<% end %>

<%= form_with model: @client do |f| %>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %><br>
  
  <%= f.label :last_name %>
  <%= f.text_field :last_name %><br>

  <%= f.label :location %>
  <%= f.text_field :location %><br>

  <%= f.label :username %>
  <%= f.text_field :username %><br>

  <%= f.label :password %>
  <%= f.password_field :password %><br>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password %><br>

  <%= f.submit "Submit" %>
<% end %>