<h1><%= "Hello, #{@client.first_name}!" %></h1>

<p><%= link_to('Request an Event', new_event_path) %></p>
<p><%= link_to('Edit Profile', edit_client_path(@client)) %></p>
<p><%= link_to('See All Venues', venues_path) %></p>
<p><%= link_to('See All Vendors', vendors_path) %></p>

<%= button_to('Logout', logout_path, method: :delete) %>