<h1><%= @event.title  %></h1>
<p>Status: <%= @event.approved ? "Booked" : "Pending Approval" %>
<p><%= @event.date %></p>
<p>Host: <%= @event.client.first_name + ' ' + @event.client.last_name %></p>
<p>Venue: <%= @event.venue.name %></p>
<p>Occasion: <%= @event.event_type %></p>
<% @event.vendors.each do |vendor| %>
<p><%= vendor.category %> provided by: <%= vendor.name %></p>
<% end %>

<% if current_client && current_client.id == @event.client_id %>
<%= link_to "Edit Event", edit_event_path %>
<% end %>

<h3>Latest Reviews: </h3>
<% @event.latest_reviews.each do |review| %>
<h4><%= review.title %></h4>
<div class= 'review_content'>
<p><%=review.content %></p>
</div>
<% end %>

<%= link_to "See all reviews", event_reviews_path(@event) %>
