<h1><%= @event.title  %></h1>
<p>Status: <%= @event.approved ? "Booked" : "Pending Approval" %>
<p><%= @event.date %></p>
<p>Host: <%= @event.client.username %></p>
<p>Venue: <%= @event.venue.name %></p>
<p>Occasion: <%= @event.event_type %></p>
<% @event.vendors.each do |vendor| %>
<p><%= vendor.category %> provided by: <%= vendor.name %></p>
<% end %>


<%= link_to "Edit Event", edit_event_path %>

<h3>Latest Reviews</h3>
<% @event.latest_reviews.each do |review| %>
<b><%= review.title %>:</b><br>
<%= review.content %>
<% end %>

<%= link_to "See all reviews", event_reviews_path(@event) %>
