<h1>Venues by location: </h1>

<h3>Venues in Logan Square:</h3>
<ul>
<% Venue.logan.each do |venue| %>
<li><%= link_to venue.name, venue_path(venue) %></li>
<% end %>
</ul>

<h3>Venues in River North:</h3>
<ul>
<% Venue.river.each do |venue| %>
<li><%= link_to venue.name, venue_path(venue) %></li>
<% end %>
</ul>

<h3>Venues in West Side:</h3>
<ul>
<% Venue.west.each do |venue| %>
<li><%= link_to venue.name, venue_path(venue) %></li>
<% end %>
</ul>

Featured Venue: <%= @venue.featured_venue %>

<%= form_tag(venues_path, method: :get) do %>
<p>Search venue by capacity: </p>
<%= text_field_tag(:search, params[:search]) %>
<%= submit_tag "Search", name: nil %>
<% end %>