<h1>Featured Venues</h1>

<div class="row">   
    <div class="column">
        <h3>Venues in Logan Square:</h3>
        <ul>
        <% Venue.logan.each do |venue| %>
        <li><%= link_to venue.name, venue_path(venue) %></li>
        <% end %>
        </ul>
    </div>

    <div class="column">
        <h3>Venues in River North:</h3>
        <ul>
        <% Venue.river.each do |venue| %>
        <li><%= link_to venue.name, venue_path(venue) %></li>
        <% end %>
        </ul>
    </div>

    <div class="column">
        <h3>Venues in West Side:</h3>
        <ul>
        <% Venue.west.each do |venue| %>
        <li><%= link_to venue.name, venue_path(venue) %></li>
        <% end %>
        </ul>
    </div>
</div>

<p>Popular Venue: <%= link_to Venue.featured_venue.name, venue_path(Venue.featured_venue)%> </p>

<%= form_tag(venues_path, method: :get) do %>
<p>Search venue by capacity: </p>
<%= text_field_tag :search %>
<%= submit_tag "Search", name: nil, class:'btn search' %>
<% end %>

<% @venues.each do |venue|%>
<ul>
<li><%= venue.name %></li>
</ul>
<% end %>