<h2>Featured Venue: <%= link_to Venue.featured_venue.name, venue_path(Venue.featured_venue)%> </h2>

<h3>Venues in Logan Square:</h3>
<ul>
<% @venues.logan.each do |venue| %>
<li><%= link_to venue.name, venue_path(venue) %></li>
<% end %>
</ul>

<h3>Venues in River North:</h3>
<ul>
<% @venues.river.each do |venue| %>
<li><%= link_to venue.name, venue_path(venue) %></li>
<% end %>
</ul>

<h3>Venues in West Side:</h3>
<ul>
<% @venues.west.each do |venue| %>
<li><%= link_to venue.name, venue_path(venue) %></li>
<% end %>
</ul>


<%= form_tag(venues_path, method: :get) do %>
<p>Search venue by capacity: </p>
<%= text_field_tag :search %>
<%= submit_tag "Search", name: nil %>
<% end %>
