<%= image_tag @venue.logo, class:"venue_logo" %>

<% if @venue.venue_type == "Bar" %>
    <%= image_tag "bar_background.jpeg", class:"venue_background" %>
<%elsif @venue.venue_type == "Restaurant" %>
    <%= image_tag "restaurant_background.jpg", class:"venue_background" %>
<%else%>
    <%= image_tag "club_background.jpg", class:"venue_background" %>
<% end %>

<p>Type: <%= @venue.venue_type %></p>
<p>Capacity: <%= @venue.capacity %></p>
<p>Location: <%= @venue.location %></p> 
<br>
<br>
<h3>Recent events:</h3>
    <ul>
    <% @venue.latest_events.each do |event| %>
        <li><%= link_to event.title, event_path(event)%></li>
    <% end %>
    </ul>

<%= link_to "Book an Event", new_event_path %>

<h3>Reviews: </h3>
<% @venue.all_events.each do |event| %>
    <% event.reviews.each do |review|%>
    <p>Title: <%= review.title %></p>
    <p>Content: <%= review.content %></p>
    <% end %>
<% end %>




