
<%= image_tag @venue.logo, class:"venue_logo" %>

<p>Type: <%= @venue.venue_type %></p>
<p>Capacity: <%= @venue.capacity %></p>
<p>Location: <%= @venue.location %></p> 
<br>
<br>
<h3>Recent events:</h3>
    <ul>
    <% @venue.latest_events.each do |event| %>
        <li><%= link_to event.title, event_path(event)%></li>
    <% end %>
    </ul>


<h3>Reviews: </h3>

<% @venue.all_events.each do |event| %>
    <% event.reviews.each do |review|%>
    <div class="shadow-lg p-3 mb-5 bg-lightgrey rounded">
    <h4>Title: <%= review.title %></h4>
    <p>Content: <%= review.content %></p>
    </div>
    <% end %>
<% end %>
</div>




