<h1><%= @event.title %></h1>

<h3>Create Review:</h3>
<%= form_for([@event, @review])do |f| %>
<%= f.hidden_field :event_id, value: @event.id %>
<%= f.label :title %>
<%= f.text_field :title %> <br>
<%= f.label :content %> <br>
<%= f.text_area :content %> <br>
<%= f.submit "Create Review" %>
<% end %>


<p>Reviews:</p>

<% @event_reviews.each do |review| %>
<div class="shadow-lg p-3 mb-5 bg-lightgrey rounded">
    <h3><%= review.title %></h3>
    <p><%= review.content %></p>
    </div>
    
<% end %>