<!DOCTYPE html>
<html>
  <head>
    <title>Eventsaholic</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <style>
      body {
        background-color: whitesmoke;
      }
    </style>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class='navbar'>
  <%= link_to "Home", root_path, class: "nav_link" %> <%= link_to "Sign Up", new_client_path, class: "nav_link" %>   <%= link_to "Log In", login_path, class: "nav_link" %>
  </div>

    <% if @venue.venue_type == "Bar" %>
        <div class="venue_background1" ></div>
    <%elsif @venue.venue_type == "Restaurant" %>
        <div class="venue_background2" ></div>
    <%else%>
        <div class="venue_background3"></div>
    <% end %>

  <div class='menu_bar'>
  <%= link_to "Browse Venues", venues_path, class: "menu_link" %>
  <%= link_to "Browse Vendors", vendors_path, class: "menu_link" %>
  <%= link_to "Book Event", new_event_path, class: "menu_link" %>
  <% if current_client %>
    <%= link_to "Client Page", client_path(current_client), class: "menu_link" %>
  <% end %>
  </div>
<br>
    <%= yield %>

  <br>
  <br>
  <br>
  <br>
  <div class='footer'>
  <p>©2019, DanSarNav Inc.
  </div>
  </body>
</html>
